
main{
    height: 100vh;
    overflow-y: auto;
    background-color: #3B3B3B;
    width: 100vw;
    padding: 1rem;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }